
<html ng-app="meetupApp">
  <head>
    <link rel="stylesheet" href="../bootstrap.css"/>
    <link rel="stylesheet" href="../font-awesome-4.4.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="../style.css"/>
    <script src="../angular.js"></script>
    <script src="../angular-animate.js"></script>
    <link rel="stylesheet" href="animation.css"/>
    <script src="../lodash.min.js"></script>
    <script src="app.js"></script>
    <script src="grocery_list_module.js"></script>
  </head>
  <body ng-controller="meetupController" ng-cloak="ng-cloak">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1>{{ title }}</h1>
          <h5>v6 ( with Animations )</h5><br/>
          <button ng-click="new()" ng-if="!input.visible" class="btn btn-primary">New</button><br/><br/>
          <button ng-click="add_random()" ng-if="!input.visible" class="btn btn-sm">Add Random</button><span ng-if="input.visible">
            <input ng-model="input.text" class="input"/>
            <button ng-click="add()" class="btn btn-success">Add</button></span><br/><br/><br/>
          <div class="grocery-items">
            <div ng-repeat="item in gl.items track by item.id" ng-class="{'crossed-off':item.crossed_off}" ng-if="!item.hidden" class="grocery-item">
              <div ng-click="click(item)" ng-class="{'crossed-off':item.crossed_off}" class="text"><span>&nbsp; {{ item.text }}</span></div>
              <div ng-click="gl.remove(item)" class="remover"><i class="fa fa-trash-o"></i></div>
            </div>
          </div>
        </div>
      </div><br/><a href="../5/index.html">v5</a>
    </div>
  </body>
</html>