doctype html
html
	head
		link(rel="stylesheet",href="../bootstrap.css")
		link(rel="stylesheet",href="../style.css")

	body
		.container-fluid
			.row
				.col-sm-12

					h5 v2 ( with Jade )
					h1 Grocery List
					h5 Angular London Meetup, October 2015

					br
					br

					ul.list-group
						li.list-group-item Milk
						li.list-group-item Bread
						li.list-group-item Eggs
						li.list-group-item Juice
						li.list-group-item Pancakes

			br
			a(href="../1/index.html") v1
			br
			a(href="../3/index.html") v3
